body[data-theme='dark'] {
    --font-color: rgb(240, 240, 240);
    --background-color: rgb(10, 10, 10);
    --card-hover-bg: rgba(255, 255, 255, 0.12);
  }
  
  body[data-theme='light'] {
    --font-color: rgb(10, 10, 10);
    --background-color: rgb(240, 240, 240);
    --card-hover-bg: rgba(0, 0, 0, 0.12);
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  .header-container {
    padding: 2%;
    font-weight: 500;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header-content h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .header-container h1 {
    margin: 0;
    text-align: center;
  }

  .header-content img {
    width: 46px;
    height: 46px;
    border-radius: 75%;
    margin-bottom: 4px;
  }
  
  .switcher {
    background-color: #882ae0;
    border-radius: 100px;
    box-shadow: rgba(121, 143, 226, 0.2) 0 -25px 18px -14px inset,rgba(136, 152, 246, 0.15) 0 1px 2px,rgba(94, 116, 212, 0.15) 0 2px 4px,rgba(113, 136, 238, 0.15) 0 4px 8px,rgba(63, 79, 132, 0.15) 0 8px 16px,rgba(56, 72, 128, 0.15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .switcher {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }