
a,
a:hover {
    text-decoration: none;
    color: var(--font-color);
}

.Card {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    border-radius: 8px;
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.Card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: auto;
    height: 100%;
}

.Card:hover {
    background-color: var(--card-hover-bg);
    border: 1px solid hsla(0, 0%, 87.8%, 0);
}

.content {
    margin-top: 5px;
}

.content h2{
    text-align: center;
}